client/public/assets/models/supra.glb filter=lfs diff=lfs merge=lfs -text
client/public/assets/models/Corolla.bin filter=lfs diff=lfs merge=lfs -text
client/public/assets/models/Corolla.gltf filter=lfs diff=lfs merge=lfs -text
